<!--resources/templates/fragments/footer.html-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="bg-dark text-center text-white"
            style="position: fixed; bottom : 0; width: 100%; padding: 1rem; text-align: center;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: imjm
        </div>
        <!-- Copyright -->
    </footer>
</div>
</html>